<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reyes Traveling</title>
<!--     <link rel="shortcut icon"href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf42BmDmUyFwKn_D2-bWY6ne1ddP-xO-haF2Wc_KWqEDGiWxYC7yUDrwvp0eXyxRYWqgM&usqp=CAU">
 -->  
    <script src="https://kit.fontawesome.com/95f21c46e1.js" crossorigin="anonymous"></script> <!-- No quitar <i class="fa-solid fa-bars"></i> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="Estilos/estilo.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark mt-sm-2 pt-4 pb-4" style="background-color: #3D6981; width: 90%; margin: 0 auto;">

            <!-- icono -->
            <a class="navbar-brand me-auto ms-4 " href="#">
                <img src="Imagenes/LogoOriginal.png" alt="Foto de inicio" width="75" height="50">
            </a>
            <!--Boton menu  -->
            <button class = "navbar-toggler ms-auto me-2" type="button" 
            data-bs-toggle="collapse" data-bs-target="#opciones">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menu -->
            <div class = "collapse navbar-collapse" id="opciones">
                <ul class = "navbar-nav ms-auto me-sm-5">
                    <li class="nav-item ms-4">
                        <a class="nav-link fw-normal text-decoration-underline active" href="#">RESERVAS</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link fw-normal text-decoration-underline active" href="#">VIAJES GUIADOS</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link fw-normal text-decoration-underline active" href="#">DESCUENTOS</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link fw-normal text-decoration-underline active" href="#">INFORMACION</a>
                    </li>
                </ul>
            </div>
            
        </nav>
    </header>
    <div class="fotoInicio">
        <img src="Imagenes/fondoInicio.jpg" alt="Foto de inicio">
    </div>

    <div class="buscar">
        <input type="text" class="buscar_texto" placeholder="Buscar">
        <a href="" class="boton_buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div>

    <div class = "galeria">
        <h1>¿Pensado en tu proximo viaje?</h1>
        <div class ="contenedor_img">
            <% if(destinosList.length > 0) {%>
                <% destinosList.map(destino => { %>
                    <div class = "imagen">
                        <img src="<%= destino.imagen %>" alt="<%= destino.nombre %>">
                        <a href="/reservas?destino=<%=destino.nombre%>"><div class="texto-imagen"> <!-- /<%=destino.nombre%> -->
                            <h2> <%= destino.nombre %>: <i> <%= destino.descripcion %> <%= destino.precio %>$/dia</i> </h2>
                        </div></a>
                    </div>
                <% }) %>
            <% } else { %>
                <p> No existen imagenes </p>
            <% } %>
        </div>
    </div>
<!-- 
    <div class = "galeria">
        <h1>¿Pensado en tu proximo viaje?</h1>
        <div class ="contenedor_img">
            <div class = "imagen">
                <img src="Imagenes/asturias.jpg" alt="Asturias">
                <div class="texto-imagen">
                    <h2> Asturias: <i> Visita los paisajes de tus sueños sin salir de la península 150$/dia</i> </h2>
                </div>
            </div>
            <div class = "imagen">
                <img src="Imagenes/dubai.jpg" alt="Dubai">
                <div class="texto-imagen">
                    <h2>Dubai: <i>Vive la maxima excentricidad mundial desde dentro 320$/dia</i></h2>
                </div>
            </div>
            <div class = "imagen">
                <img src="Imagenes/noruega.jpg" alt="Alpes">
                <div class="texto-imagen">
                    <h2>Los Alpes: <i>Explora los asombros terrenos helados de europa 400$/dia</i></h2>
                </div>
            </div>
            <div class = "imagen">
                <img src="Imagenes/soaring-umbrellas-street_1.jpg" alt="Amsterdam">
                <div class="texto-imagen">
                    <h2>Amsterdam: <i>conoce la capital de lo extravagente 309$/dia</i></h2>
                </div>
            </div>
            <div class = "imagen">
                <img src="Imagenes/suiza.jpg" alt="Suiza">
                <div class="texto-imagen">
                    <h2>Suiza :<i> Paisajes y arquitectura de pelicula 200$/dia</i></h2>
                </div>
            </div>
            <div class = "imagen">
                <img src="Imagenes/japon.jpg" alt="Japon">
                <div class="texto-imagen">
                    <h2>Japon:  <i>pierdete entre neones y tecnologia de vanguardia 300$/dia</i></h2>
                </div>
            </div>
        </div>
    </div> -->

    <footer class="pieWeb">
        <div class="pie-izquierda">
            <h3>Reyes <span>Traveling</span></h3>
            <p class = "pie-links">
                <a href="reservas.html">Reservas</a>
                |
                <a href="#">Viajes Guiados</a>
                |
                <a href="#">Descuentos</a>
                |
                <a href="#">Informacion</a>
            </p>
            <!-- <p class = "pie-nombre"> Copyright 2021 <strong>ReyesTraveling Developer</strong>
            All rights reserved</p> -->
            <div class ="pie-icons">
                <a href="https://www.facebook.com/UniComplutense" target="_blank"><img src='Imagenes/facebook.png' 
                    alt="de la aplicacion facebook de la universidad complutense de madrid"></a>  <!--  target="_blank" para abrir una nueva ventana -->
                <a href=" https://twitter.com/unicomplutense" target="_blank"><img src='Imagenes/twitter.png'
                    alt="logo de la aplicacion twitter de la universidad complutense de madrid"></a>
                <a href="https://www.instagram.com/uni.complutense/" target="_blank"><img src='Imagenes/instagram.png'
                    alt="logo de la aplicacion instagram de la universidad complutense de madrid"></a>
            </div>
        </div>
        <div class="pie-centro">
            <div>
                <i class="fa-solid fa-location-dot"></i>
                <p><span>San Sebastian de los Reyes</span>
                Madrid</p>
            </div>
            <div>
                <i class="fa-solid fa-phone"></i>
                <p>+91 601 19 28 54</p>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>
                <p><a href="#">reyestraveling@ucm.es</a></p>
            </div>
        </div>

        <div class ="pie-derecha">
            <p class = "pie-compañia-about">
                <span>Sobre la compañia</span>
                <strong>Reyes Tavelenig</strong> es una agencia de viajes una agencia de viajes apasionada por hacer realidad tus sueños
                 de aventura y descubrimiento. Con años de experiencia en la industria, nuestro equipo de expertos en viajes está aquí 
                 para convertir tus vacaciones en experiencias inolvidables. 
            </p>
        </div>
    </footer>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.prototype.slice.call(forms)
.forEach(function (form) {
form.addEventListener('submit', function (event) {
    if (!form.checkValidity()) {
    event.preventDefault()
    event.stopPropagation()
    }

form.classList.add('was-validated')
    }, false)
})
})()
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>
